<html>
  <head>
    <title>Service</title>

    <%= stylesheet_link_tag 'service', media: 'all' %>
  </head>
  <body>
  <div class="navbar">
    <h1 class="title">Services</h1>
    <div class="navbar-links">
    <%= link_to 'Create New Service', services_path%>
    <%= link_to "Back to Dashboard", dashboard_path %>
    <%= link_to 'Logout', logout_path, method: :delete %>
  </div>
    
  </div>
  
  <% flash.each do |key, message|%>
    <div class="alert">
      <%= message%>
    </div>
  <%end%>

  <div class="days-container-2">
   
        <% @services.sort_by(&:name).each do |service| %>
          <div class="day-container-2">
        

            <h3><%= service.name %></h3>
            <div class="time-container-2">
            <p><strong>Description:  </strong><%= service.short_description %></p>
            <p><strong>Price:  </strong>$<%= format("%.2f", service.price) %></p>
            <p><strong>Duration:  </strong><%= service.duration / 60 > 0 ? (service.duration / 60).to_s + "hr " : "" %>
            <%= service.duration % 60 > 0 ? (service.duration % 60).to_s + "min" : "" %></p>

            <p><%= link_to 'Edit', 'editService/'+service.id , class: 'button' %><p>
            <%= button_to service.is_published ? 'Unpublish' : 'Publish', service_publish_path(service), method: :post, class: 'button' %>
            <%= button_to 'Delete', hide_service_path(service), method: :delete, id: "delete-service-#{service.id}", class: 'button' %>

            
        </div>
        </div>
        <% end %>

       
    
    </div>
  </body>
</html>