<html>
  <head>
    <title>Service</title>

    <%= stylesheet_link_tag 'service', media: 'all' %>
  </head>
  <body>
    <div class="service-container">
        <h1>Services</h1>
        <% @services.each do |service| %>
        <div class="service-card">

            <h3><%= service.name %></h3>
            <p><strong>Description:  </strong><%= service.description %></p>
            <p><strong>Price:  </strong><%= service.price %></p>
            <p><strong>Duration:  </strong><%= service.duration %> mins</p>

            <p><%= link_to 'Edit', 'editService/'+service.id , class: 'button' %><p>
            <%= button_to 'Delete', hide_service_path(service), method: :delete, id: "delete-service-#{service.id}", class: 'button' %>

            
        </div>
        <% end %>

        <p><%= link_to 'Create New Service', services_path, class: 'button' %></p>
    </div>
  </body>
</html>