<h1>New Service</h1>

<%= form_with(model: @service, url: services_path, local: true) do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>

  <%= form.label :description %>
  <%= form.text_area :description %>

  <%= form.label :duration %>
  <%= form.number_field :duration %>

  <%= form.submit "Create Service" %>
<% end %>
```