<html>
  <head class='public-page-head'>
    <%= stylesheet_link_tag "show_service.css" %>
  </head>
  <body>
    <div class="service-container">
      <div class="header">
        <a href="/public/<%= @current_user.fname %>">← Back to <%= @current_user.fname %> <%= @current_user.lname %></a>
        <h3 class="service-title"><%= @service.name %></h3>
      </div>
      <div class="body">
        <p class="service-description"><%= @service.description %></p>
      </div>
      <div class="footer">
        <p class="service-price-duration"><%= "$#{@service.price} for #{@service.duration} minutes" %></p>
        <button>Purchase</button>
      </div>
    </div>
  </body>
</html>