<html>
  <head>
  <title>Dashboard</title>
    <%= stylesheet_link_tag 'dashboard', media: 'all' %>
  </head>
  <body>
  <div class="navbar">
    <h1 class="title">Dashboard</h1>
    <div class="navbar-links">
    
    <%= link_to 'Edit Public Profile', edit_public_page_path %>
    <%= link_to 'Logout', logout_path, method: :delete %>
  </div>
    
  </div>
  
    <% flash.each do |key, message|%>
      <div class="alert">
        <%= message%>
      </div>
    <%end%>
    <div class="dashboard-container">
    <center>
      <h1>Welcome to the Dashboard Page</h1>
      <p>Logged in as <%= @current_user.email %></p>
      
      <div class="square-items">
      <%= link_to 'Services', servicesindex_path, class: 'button'%>
      <%= link_to 'Availability', hours_path, class: 'button'%>
      </div>
      </center>
    </div>
  </body>
</html>