<!-- new.html.erb -->
<html class="login">
  <head>
    <title>Login</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Playpen+Sans&family=Press+Start+2P&family=Roboto:ital,wght@1,100&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'edit_service', media: 'all' %>
  </head>
  <body>
    <div class="login-container">
    <center><h1 class="topmate"> Topmate </h1></center>
    <hr class="topmate-hr">
      <h1>Login</h1>

      <%= form_tag sessions_new_path do %>
        <div>
          <%= label_tag :email %>
          <%= text_field_tag :email %>
        </div>
        <div>
          <%= label_tag :password %>
          <%= password_field_tag :password %>
        </div>
        <% if flash[:error] %>
          <div class="flash-error">
            <%= flash[:error] %>
          </div>
        <% end %>
        <div>
          <%= submit_tag 'Login', class: 'button'  %>
        </div>
        <div>
          <%= link_to 'Forgot Password', submitemail_path %>
        </div>
      <% end %>
    </div>
  </body>
</html>