<!-- new.html.erb -->
<html>
  <head>
    <title>Login</title>
    <%= stylesheet_link_tag 'login', media: 'all' %>
  </head>
  <body>
    <div class="login-container">
      <h1>Login</h1>

      <%= form_tag sessions_new_path do %>
        <div>
          <%= label_tag :email %>
          <%= text_field_tag :email %>
        </div>
        <div>
          <%= label_tag :password %>
          <%= password_field_tag :password %>
        </div>
        <% if flash[:error] %>
          <div class="flash-error">
            <%= flash[:error] %>
          </div>
        <% end %>
        <div>
          <%= submit_tag 'Login', class: 'button'  %>
        </div>
        <div>
          <%= link_to 'Forgot Password', submitemail_path, class: 'button' %>
        </div>
      <% end %>
    </div>
  </body>
</html>