<div id="<%= dom_id hour %>">
  <p>
    <strong>User:</strong>
    <%= hour.user_id %>
  </p>

  <p>
    <strong>Day:</strong>
    <%= hour.day %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= hour.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= hour.end_time %>
  </p>

</div>
