<%= stylesheet_link_tag 'hour', media: 'all' %>
<p style="color: green"><%= notice %></p>

<h1>Hours</h1>
<%= link_to "Back to Dashboard", dashboard_path %>

<div id="days">
  <% @days.each do |day, hours| %>
    <div class="day-container">
      <h2><%= ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"][day] %></h2>
      <% hours.each do |hour| %>
        <%= render hour %>
      <% end %>
    </div>
  <% end %>
</div>

<%= link_to "New hour", new_hour_path %>
