<html>
  <head>
    <title>Edit Public Page</title>
    <%= stylesheet_link_tag 'add_hour', media: 'all' %>
  </head>
  <body>
    <div class="hour-container">
<h1>New hour</h1>

<%= form_with(model: @hour) do |form| %>
  <% if @hour.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@hour.errors.count, "error") %> prohibited this hour from being saved:</h2>

      <ul>
        <% @hour.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.collection_select :day, @days, :id, :day %>
  </div>

  <div>
    <%= form.label :start_time, style: "display: block" %>
    <div class="time-select">
      <%= form.time_select :start_time, {ampm: true, minute_step: 15} %>
    </div>
  </div>

  <div>
    <%= form.label :end_time, style: "display: block" %>
    <div class="time-select">
      <%= form.time_select :end_time, {ampm: true, minute_step: 15} %>
    </div>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>



<div>
  <%= link_to "Back to hours", hours_path %>
</div>
</div>
</body>
</html>
