<html>
  <head>
    <title>Edit Public Page</title>
    <%= stylesheet_link_tag 'edit_service', media: 'all' %>
  </head>
  <body>
    <div class="service-container">
      <h1>Edit Public Page Information</h1>

      <%= form_for @current_user , url: edit_public_page_update_path, method: :patch do |form| %>
    <%#   form_with(model: @user, url: services_path(@user), local: true) do |form|  %>
        <%= form.label :fname, "First Name" %>
        <%= form.text_field :fname %>

        <%= form.label :lname, "Last Name" %>
        <%= form.text_field :lname %>

         <%= form.label :about %>
        <%= form.text_area :about %>

         <%= form.label :username %>
        <%= form.text_field :username %>

        <%= form.submit "Update Public Profile", class: 'button' %>
       
      <% end %>

       <% if flash[:error].present? %>
            <div class="alert-update">
                <%= flash[:error] %>
            </div>
        <% end %>
        <% if flash[:success].present? %>
                <div class="success-update">
                    <%= flash[:success] %>
                </div>
        <% end %>

        <%= link_to "Return to Dashboard", root_path%>
    </div>
  </body>
</html>