<a id="<%= service.name.gsub(' ', '_') %>" href="<%= show_service_path(data,service) %>" class="service">
  <h3 class="service-title"><%= service.name %></h3>
  <p class="service-description"><%= service.description %></p>
  <p class="service-price-duration"><%= "$#{service.price} for #{service.duration} minutes" %></p>
</a>
