<html>
  <head>
    <title>Create Appointment</title>
    <%= stylesheet_link_tag 'appointments', media: 'all' %>
  </head>
  <body>
    <div class="service-container">
      <h1>Please fill in the informationt to create appointment <%= @service.name%> by <%= @user.fname%></h1>

      <%= form_for @appointment, url: appointments_page_create_submit_path, method: :post do |form| %>
        <%= form.label "First Name" %>
        <%= form.text_field :fname, id: "First Name" %>

        <%= form.label "Last Name" %>
        <%= form.text_field :lname, id: "Last Name" %>

        <%= form.label "Email" %>
        <%= form.text_field :email, id: "Email" %>
        
        <%= form.label "Appointment Date" %>
        <%= form.select :start_date, options_for_select(@slots_data_start_date), { include_blank: false,prompt: "Select Appointment Date"}, onchange: "fetch_slot_times();", id: "Appointment Date" %>
      
        <%= form.label "Consultation Start Time" , id: 'start-time-label' , class: 'hidden' %> 
         <%= form.select :start_time, options_for_select(@slots_data_start_time),{ include_blank: false,prompt: "Select Consultation Start Time"}, class: 'hidden', id: 'Consultation Start Time' %> 

         <p id="empty-list" class="flash-error hidden"> No timings available for the selected date</p>
        
        <%= form.submit "Create Appointment", class: 'button' %>
       
      <% end %>



         <% if flash.now[:error].present? %> 
            <div class="flash-error">
                <%= flash[:error] %>
            </div>
        <% end %>
        <% if flash[:success].present? %>
                <div class="success-update">
                    <%= flash[:success] %>
                </div>
        <% end %>

        <%= link_to "Return to Public Page", public_page_path(@user.username), class: 'button'%>
    </div>
  </body>
  <script>
    async function fetch_slot_times() {
    let start_date_dropdown = document.getElementById("Appointment Date");
    let start_time_dropdown = document.getElementById("Consultation Start Time")
    start_time_dropdown.innerHTML =""
    console.log("start_time_dropdown.",start_time_dropdown)
      document.getElementById("empty-list").classList = "flash-error hidden";

    // Get the selected value
    var start_date = start_date_dropdown.value;
    console.log("st",start_date)
    const username = window.location.href.split("/")[4];
console.log(username);
    // Use the selected value as needed
    let api_url = "/appointment/get/timings/"+username+"/" + start_date;
    const response = await fetch(api_url);
    const data = await response.json().then((responseData) => {
        return responseData;
    }).catch((error) => {
        console.error("error", error);
        return { "slots": [] }
    });
    if (data.slots.length > 0) {
        var dropdown_label = document.getElementById("start-time-label");
        var dropdown = document.getElementById("Consultation Start Time");
            var dropdown_option = document.createElement("option");
         dropdown_option.value = "";
            dropdown_option.text = "Select Consultation Start Time";
          dropdown.appendChild(dropdown_option);
        data.slots.forEach((slots_item) => {
            var dropdown_option = document.createElement("option");


            // Set the value and text of the option
            dropdown_option.value = slots_item.startTime;
            dropdown_option.text = slots_item.startTime;

            // Append the new option to the select element
        });
        dropdown.classList = "";
        dropdown_label.classList = "";
    }
    else{
      document.getElementById("empty-list").classList = "flash-error";
      document.getElementById("start-time-label").classList = "hidden";
      document.getElementById("Consultation Start Time").classList = "hidden";
    }

}
  </script>
</html>